body {
    background-color: white;
    font-family: sans-serif;
    color: black;
}

.header {
    text-align: center;
    padding: 30px;
}

/* Add a black background color to the top navigation */
.topnav {
  border: 2px solid #cccccc;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 2px 2px 2px darkslategrey;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #cccccc;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #fff100;
  color: black;
}

.footer {
  padding: 5px; /* Some padding */
  text-align: center; /* Center text*/
  border: 2px solid #cccccc; /* Grey background */
  border-radius: 5px;
  box-shadow: 2px 2px 2px darkslategrey;
}
