/* <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900*/

.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth
  ;
}

body {
    background-image: url("../img/blob.svg");
    background-attachment: fixed;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    color: black;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

.contact-links {
    display: flex;
    justify-content: right;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

.contact-links a {
    margin: 0 1%;
    font-size: 3vh;
    transition: all ease 0.5s;
}

.contact-links a:hover {
    transform: scale(1.2);
}

#wip {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    font-size: 5vh;
}

footer {
    background-color: rgb(255, 255, 255);
    color: black;
    text-align: center;
    padding: 2%;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer span {
  user-select: none;
  -webkit-user-select: none;
  cursor:default;
}

@media screen and (max-width: 600px) {
    .contact-links {
        display: flex;
        justify-content: right;
        margin-top: 2%;
        margin-left: 2%;
        margin-right: 2%;
    }

    body {
        background-image: url("../img/blob_phone.svg");
        background-attachment: fixed;
        background-position: 0% 0%;
        background-repeat: no-repeat;
        color: black;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    #wip {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-top: 10%;
        font-size: 5vh;
    }
}