.montserrat-normal {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
  
.montserrat-bold {
      font-family: "Montserrat", sans-serif;
      font-optical-sizing: auto;
      font-weight: 800;
      font-style: normal;
}

body {
    background-color: rgb(228, 228, 228);
    overflow: auto;
    margin: 0;
}

header {
    background-color: white;
    padding: 10px 0;
    text-align: center;
    align-items: center;
}

header span {
    color: white;
    font-size: 24px;
}

#search {
    display: flex;
    justify-content: center;
    margin: 20px;
    margin-left: 15%;
    width: 70%; /* Ajusta este valor según tus necesidades */
    height: 50px; /* Ajusta este valor según tus necesidades */
}

#search input {
    width: 60%; /* Ajusta este valor según tus necesidades */
    height: 55%; /* Ajusta este valor según tus necesidades */
    margin-right: 1%;
    padding: 10px;
    border: 1px solid deepskyblue;
    border-radius: 5px;
    font-size: 16px;
}

#search button {
    width: 10%; /* Ajusta este valor según tus necesidades */
    height: 50px; /* Ajusta este valor según tus necesidades */
    background-color: deepskyblue;
    color: white;
    border: 1px solid deepskyblue;
    border-radius: 15px;
    font-size: 16px;
}

#results {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 60%;
    margin-left: 23%;
}

#no-results {
    text-align: center;
    margin: 20px;
    color: white;
}

.song-card {
    background-color: white;
    border: 2px solid deepskyblue;
    border-radius: 15px;
    box-shadow: 5px 5px 5px skyblue;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

.webplayer-container {
    position: fixed;
    bottom: 2%;
    left: 30%;
    width: 40%;
    background-color: deepskyblue;
    padding: 5px;
    text-align: center;
    color: #111;
    font-size: 16px;
    display: flex; /* Add this line */
    justify-content: center; /* Add this line */
    align-items: center; /* Add this line */
    border: 4px solid deepskyblue;
    border-radius: 40px;
    box-shadow: 10px 5px 10px skyblue;
}

.webplayer-container button {
    background-color: deepskyblue;
    color: white;
    border: 1px solid deepskyblue;
    border-radius: 50%;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 10px;
    margin-right: 20%;
    font-size: 16px;
}

.webplayer-container p {
    margin-left: 10%;
}

@media (orientation: portrait) {

    #results {
        grid-template-columns: 1fr;
        align-items: center;
    }

    #search {
        display: flex;
        justify-content: center;
        margin: 20px 0;
        width: 100%; /* Ajusta este valor según tus necesidades */
        height: 50px; /* Ajusta este valor según tus necesidades */
    }
    
    #search input {
        width: 75%; /* Ajusta este valor según tus necesidades */
        height: 55%; /* Ajusta este valor según tus necesidades */
        padding: 10px;
        border: 1px solid  deepskyblue;
        border-radius: 5px;
        font-size: 16px;
    }
    
    #search button {
        width: 20%; /* Ajusta este valor según tus necesidades */
        height: 50px; /* Ajusta este valor según tus necesidades */
        background-color: deepskyblue;
        color: white;
        border: 1px solid deepskyblue;
        border-radius: 5px;
        font-size: 16px;
    }

    .webplayer-container {
        position: fixed;
        bottom: 5%;
        left: 1.5%;
        width: 90%;
        background-color: skyblue;
        padding: 5px;
        text-align: center;
        color: black;
        font-size: 16px;
        display: flex; /* Add this line */
        justify-content: center; /* Add this line */
        align-items: center; /* Add this line */
        border: 4px solid deepskyblue;
        border-radius: 40px;
        box-shadow: 10px 5px 10px skyblue;
    }

    .webplayer-container button {
        background-color: skyblue;
        color: white;
        border: 1px solid deepskyblue;
        border-radius: 50%;
        padding: 10px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 10px;
        margin-right: 10%;
        font-size: 16px;
    }

    .webplayer-container p {
        margin-left: 5%;
    }
}

.blur {
    filter: blur(5px);
    pointer-events: none;
    user-select: none;
}

#left-sidebar {
    width: 20%;
    height: 75vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgb(228, 228, 228);
    border-right: 2px solid deepskyblue;
    left: 0;
    top: 10%
}

#right-sidebar {
    width: 20%;
    height: 75vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgb(228, 228, 228);
    border-left: 2px solid deepskyblue;
    /* place the right sidebar to the right*/
    right: 0;
    top: 10%;
}
