.montserrat-normal {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
  
.montserrat-bold {
      font-family: "Montserrat", sans-serif;
      font-optical-sizing: auto;
      font-weight: 800;
      font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    /*summer gradient for the background*/
    background: linear-gradient(45deg, #ff758c, #b48def, #59e4f7);
    background-size: 100% 2000%;
    background-repeat: repeat;
    animation: gradient 5s ease infinite;

}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

header {
    background-color: white;
    padding: 10px 0;
    text-align: center;
    align-items: center;
}

header span {
    color: white;
    font-size: 24px;
}

#playlistName {
    font-size: 5em;
    margin: 0;
    padding: 0;
    /*uppercase text*/
    text-transform: uppercase;
    text-align: center;
    /*linear gradient from left to right, summer gradient with 5 colors*/
    color: #59e4f7;
}

#playlistDescription {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #59e4f7;
}