.song {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 2%;
    border: 4px solid deepskyblue;
    border-radius: 60px;
    background-color: #f0f0f0;
}

.song img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.song h2 {
    margin: 0;
}

.song p {
    margin: 0;
}

#results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.song_result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    margin: 2%;
    margin-bottom: 5px;
    border: 4px solid rgba(233, 56, 243, 0.688);
    border-radius: 60px;
    background-color: rgba(75, 0, 82, 0.263);
}

.song_result img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.song-details h3 {
    margin: 0;
    font-size: 1.5em;
}

.song-details p {
    margin: 0;
    font-size: 0.8em;
}

.add-to-playlist {
    width: 50px;
    height: 50px;
    background-color: deepskyblue;
    color: white;
    border: 1px solid deepskyblue;
    border-radius: 60px;
    font-size: 16px;
    transition: all 1.5s;
}

.add-to-playlist:hover {
    transform: rotate(360deg);
}