/*<uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 100 to 900*/

.montserrat-normal {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.montserrat-bold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

body {
    color: #ffffff;
    padding: 0;
    margin: 0;
}

#main {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 60% 1fr 15%;
    background-image: linear-gradient(to bottom right,#000, 40%, rgb(255, 200, 0) );
}

#metadetails {
    padding: 2%;
}

#details {
    display: flex;
    flex-direction: column;
}

#detail-text {
    text-align: center;
    order: 1; /* Move #detail-text to the top */
}

#album_cover {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 40vh;
    margin-top: 2%; /* Add margin to separate from #detail-text */
}

#controls {
    display: flex;
    justify-content: center;
    place-items: center;
}

button {
    background: none;
    border: none;
    font-size: larger;
    color: black;
}

#play {
    background-color: #ffffff;
    border-radius: 50rem;
    font-size: x-large;
    color: #000;
    margin: 2%;
    width: 60px;
    height: 60px;
}
  
#div-slider {
    padding: 1%;
    display: flex;
    place-items: center;
    justify-content: center;
}
  
#greyslider {
    display: flex;
    position: relative;
    width: 100%;
    height: 5px;
    margin: 1%;
    background-color: grey;
}
  
#fillbar {
    background-color: #ffffff;
    width: 0;
    height: 100%;
}
  
#slider-nob {
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    transform: translate(0, -5px);
}

#sidebar {
    position: fixed;
    right: -30%; /* Posiciona inicialmente la barra lateral fuera de la vista */
    top: 0;
    width: 20%;
    height: 100%;
    overflow: hidden;
    transition: right 0.5s; /* Cambia la transición para que afecte a la propiedad 'right' */
    background-color: #333;
    color: #fff;
    padding: 20px;
}

#sidebar.open {
    right: 0; /* Cuando la barra lateral está abierta, 'right' es 0 */
}

#sidebar h2 {
    margin: 0;
    padding-bottom: 20px;
}

#sidebar ul {
    list-style: none;
}

#sidebar ul li {
    padding: 10px 0;
    cursor: pointer;
}

#sidebar div {
    cursor: pointer;
}

#sidebar div:hover {
    color: rgb(255, 200, 0);
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

#play {
    background-color: rgba(255, 255, 255, 0.4);
    animation: pulse 2s infinite;
}

@media (max-width: 108px) {
    #main {
        grid-template-rows: 50% 1fr 20%;
    }

    #details {
        display: flex;
        flex-direction: column;
    }

    #detail-text {
        text-align: center;
        order: 1; /* Move #detail-text to the top */
    }

    #album_cover {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 30vh; /* Adjust the height */
        margin-top: 2%; /* Add margin to separate from #detail-text */
    }

    #play {
        width: 40px;
        height: 40px;
    }

    #div-slider {
        padding: 0.5%;
    }

    #greyslider {
        height: 3px;
        width: 90%;
    }

    #slider-nob {
        width: 10px;
        height: 10px;
    }
    
    #sidebar {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 20%; /* Cambia la altura al 10% */
        overflow: hidden;
        transition: transform 0.5s ease-in-out;
        transform: translateY(100vh); /* Oculta inicialmente la barra lateral desplazándola hacia abajo el 100% de la altura de la pantalla */
        background-color: #333;
        color: #fff;
        padding: 20px;
    }

    #sidebar.open {
        transform: translateY(58vh); /* Cuando la barra lateral está abierta, la desplaza hacia arriba el 90% de la altura de la pantalla */
    }

    #sidebar h2 {
        margin: 0;
        padding-bottom: 20px;
    }

    #sidebar div {
        text-align: center;
    }
}